#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px var(--light-gray);
    align-items: center;
}

.link-container {
    min-width: 15rem;
    height: 4rem;
    line-height: 4rem;
    width: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.nav-link {
    color: black;
    text-decoration: none;
    text-align: center;
}

.nav-link:hover {
    background-color: var(--light-gray);
}