* {
    margin: 0;

    --light-gray: rgb(218, 218, 218);
    --coyote: #7A6C5D;
    --charcoal: #2A3D45;
    --dun: #DDC9B4;
    --khaki: #BCAC9B;
    --rose: #C17C74;
}

body {
    margin: 0;
    box-sizing: border-box;
}

.center-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}